<aside>
    <div>
      <a href="/">
        <img class="profile-image" loading="lazy" src="/images/profile-image.png" alt="" title=""/>
      </a>

      <nav>
        <ul class="list">
            <li>
              <a target="_self" href="/" >Under The Hood</a>
            </li>
            <li>
              <a target="_self" href="https://cobalt-org.github.io" >cobalt</a>
            </li>
        </ul>
      </nav>

      <ul class="social">
          <li>
            <a  class="sc-todo" href="#" target="_blank">
              <i class="fab fa-todo"></i>
            </a>
          </li>
          <li>
            <a  class="sc-todo" href="#" target="_blank">
              <i class="fab fa-todo"></i>
            </a>
          </li>
      </ul>
    </div>

  </aside>
